.browser {
  --right: calc(var(--scroll-bar-width) + var(--page-margin));
  --left: var(--page-margin);
  --width: min(90vmin, 1000px);
  --margin-top: 5vmin;
  
  width: calc(var(--width) - (var(--left) + var(--right)));
  padding: calc(var(--top-bar-height) + var(--page-margin)) var(--right) 40vh var(--left);
  position: relative;
  display: block;
  margin: var(--margin-top) auto 0 auto;
  border: solid 5px transparent;
}

.browser::before,
.browser::after,
.browserElements {
  content: '';
  display: flex;
  position: fixed;
  width: var(--width);
  left: 50%;
  height: calc(50vh - 5vmin);	
  transform: translatex(-50%);
  top: var(--margin-top);
  border-radius: var(--browser-border-radius);
  pointer-events: none;
  border: solid 5px transparent;
}

.browser::before {
  background-color: var(--color-browser-alt);
  z-index: 1;
}	

.browser::after {
  box-shadow: var(--shadow-elevation-high);
  border-color: var(--color-browser);
  z-index: 4;
}

.browserElements {
  z-index: 3;
}

.browserElements::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-background);
  transform: translatey(-100%);
}

.browserElements::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-background-fade);
  transform: translatey(100%);
}

.topBar {
  width: var(--browser-top-bar-width);
  height: var(--top-bar-height);
  background-color: var(--color-browser);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  border-bottom-right-radius: var(--browser-top-bar-radius);
  border-bottom-left-radius: var(--browser-top-bar-radius);
  display: flex;
  align-items: center;
}

.points {
  display: var(--points-display);
  gap: 5px;
  margin: 0 5px 3px 5px;
  align-items: center;
}

.point {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: var(--color-browser-alt);
}

.contentSpacing {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
}

.page {
  z-index: 2;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding: var(--page-padding);
}

.page > * {
  z-index: 2;
  border-radius: 8px;
}

.pageBackground {
  position: absolute;
  inset: 0;
  background-color: var(--color-page);
  z-index: 1;
}

.header {
  background-color: var(--color-element);
  min-height: 100px;
  width: 100%;
}

.items {
  list-style: none;
  padding: 0 var(--list-padding);
  margin: 0;
}

.items li {
  background-color: var(--color-element);
  padding: 3vh;
  border-radius: 6px;
}

.items li.flipping {
  display: none;
}

.footer {
  width: 100%;
  height: var(--footer-face-width);
  background-color: currentcolor;
  color: white;
  display: flex;
  align-items: center;
  justify-content: var(--footer-face-position);
  color: var(--color-footer);
  padding-bottom: 20px;
  position: relative;
}

.face {
  width: var(--footer-face-width);
  height: var(--footer-face-width);
}

.loading {
  width: 100%;
  height: 40px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
      
.spinner {
  display: block;
  width: 40px;
  height: 40px;
  border: 6px solid var(--color-element);
  border-left-color: transparent;
  border-radius: 100vmax;
  animation: spin 0.7s linear infinite;
}

.hand {
  position: absolute;
  left: var(--footer-hand-position);
  top: 0%;
}

.handType {
  display: none;
}

.hand[data-type="cookie"] .handCookie { 
  display: block; 
}

.hand[data-type="wave"] .handWave { 
  display: block; 
}

.handWave {
  transform-origin: 20% 90%;
  animation-timing-function: ease-in-out;
  animation: wave 0.4s infinite;
}

@keyframes wave {
  0%, 100% { 
    transform: rotate(-20deg) translatex(-20%); 
  }
  50% { 
    transform: rotate(15deg) translatex(0%); 
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
} 